fastapi==0.115.14
uvicorn==0.35.0
starlette==0.46.2

sqlalchemy==2.0.41
greenlet==3.2.3
psycopg2-binary==2.9.12
alembic==1.16.2

pydantic==2.11.7
pydantic-settings==2.10.1

PyJWT==2.10.1
passlib==1.7.4
bcrypt==4.3.0

python-dotenv==1.1.1

APScheduler==3.11.3